<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test1</title>
  <script src="/static/zepto.min.js"></script>
  <script>
    $().ready(function() {
      $('#hello-world-toggle').on('click', function(e) {
        e.preventDefault();
        $('#hello-world').show();
      });
      $('#hello-world-delayed-toggle').on('click', function(e) {
        e.preventDefault();
        setTimeout(function() {
          $('#hello-world').show();
        }, {{ delay }});
      });
      $('#close').on('click', function(e) {
        e.preventDefault();
        $('#hello-world').hide();
      });
    });
  </script>
</head>
<body>
<h1>{{ title }}</h1>
<p>Here is the test.</p>
<svg height="100" width="300" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g>
    <a xlink:href="{% url 'test1' %}?title=Success" id="refresh">
      <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
      <text x="20" y="55" fill="black">Refresh</text>
    </a>
  </g>
  <g>
    <a xlink:href="#" id="hello-world-toggle">
      <circle cx="150" cy="50" r="40" stroke="black" stroke-width="3" fill="blue" />
      <text x="135" y="55" fill="white">Div</text>
    </a>
  </g>
  <g>
    <a xlink:href="#" id="hello-world-delayed-toggle">
      <circle cx="250" cy="50" r="40" stroke="black" stroke-width="3" fill="yellow"/>
      <text x="220" y="55" fill="black">Delayed</text>
    </a>
  </g>
  Sorry, your browser does not support inline SVG.
</svg>
<div id="hello-world" style="display: none;">
  <h2>Hello World</h2>
  <p>I shouldn't be visible until you click the blue or yellow buttons.</p>
  <a href="#" id="close">X Close</a>
</div>
<form method="post">
  <input type="input" name="title" />
  <input type="submit" value="Submit"/>
</form>
</body>
</html>
